---
import BaseLayout from "../layouts/BaseLayout.astro";
import myselfPic from "../assets/images/myself-picture.jpg";
const pageTitle = "About Page";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="main-max-width container">
    <img src={myselfPic.src} alt="Finn Isler" />
    <div class="text-wrapper">
      <h2>Finn Isler</h2>
      <p>
        I am a photographer based in Charlotte, NC. I currently attend UNC
        Charlotte. I enjoy taking photos of all things, including portraits,
        landscapes, and architecture.
      </p>
      <p>
        Please feel free to reach out regarding work inquiries or general
        questions!
      </p>
      <button id="contact-page" class="contact-page-button">Contact Me</button>
    </div>
  </div>
</BaseLayout>

<script>
  const contactButton = document.getElementById("contact-page");
  if (contactButton) {
    contactButton.addEventListener("click", () => {
      window.location.href = "./contact";
    });
  }
</script>

<style>
  .container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 4em;
    width: 100%;
    justify-content: center;
  }
  img {
    height: auto;
    max-width: 400px;
    width: 100%;
    display: flex;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 2em 2em;
    align-items: center;
    max-width: 500px;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
  }

  .contact-page-button {
    border: none;
    padding: 10px 20px;
    background-color: var(--secondary-text-color: rgb(87, 87, 87));
    font-weight: 400;
    font-size: 1rem;
    border-radius: 20px;
    margin-top: 2rem;
  }

  .contact-page-button:hover {
    cursor: pointer;
    background-color: var(--primary-text-color: rgb(33, 33, 33));
    color: var(--background-color: rgb(250, 250, 250));
    transition: 0.3s ease;
  }
</style>
