---
import BaseLayout from "../layouts/BaseLayout.astro";
import GalleryGrid from "../components/GalleryGrid.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <section id="photo-projects">
    <h2>Projects</h2>
    <div>
      
    </div>
  </section>
  <section id="photo-gallery">
    <GalleryGrid sortBy="tag" selectedTags={["portrait", "landscape"]} />
  </section>
</BaseLayout>
