---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Video Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Video</h2>
  <hr />
  <div class="video-grid-container"></div>
</BaseLayout>

<style>
  h2 {
    margin-top: 2rem;
    font-family: var(--serif);
    font-size: 2.5rem;
    font-weight: 200;
  }
</style>
