---

---

<footer>
  <p>&copy; 2025 Finn Isler. All rights reserved.</p>
</footer>

<style>
  footer {
    text-align: center;
    padding: 2rem 0;
    margin: 3rem 0;
    border-top: 1px solid rgba(87, 87, 87, 0.2);
    color: var(--secondary-text-color);
    position: relative;
    bottom: 0;
    width: 100%;
  }

  p {
    text-align: center;
  }
</style>
