---
export interface Props {
  id: number;
  name: string;
  caption: string;
  alt: string;
  path: string;
  tags?: string[];
}
const { id, name, caption, alt, path, tags = [] } = Astro.props;
---

<div
  class="gallery-item"
  data-image-id={id}
  data-path={`./photos/${path}`}
  data-tags={tags.join(",")}
>
  <img src={`./photos/${path}`} alt={alt} loading="lazy" />
  <div class="gallery-item-overlay"></div>
</div>
