---
export interface Props {
  id: number;
  name: string;
  caption: string;
  alt: string;
  path: string;
}
const { id, name, caption, alt, path } = Astro.props;
---

<div class="gallery-item" data-image-id={id}>
  <img src={`src/photos/${path}`} alt={alt} loading="lazy" />
  <div class="gallery-item-overlay"></div>
</div>
<style>
  .gallery-item {
    position: relative;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: 0.3s ease;
  }
  .gallery-item:hover img {
    opacity: 86%;
  }
</style>
