---
const v = 5;
---

<header>
  <h1><a href="./">Finn Isler</a></h1>
  <nav>
    <a href="./">Home</a>
    <!-- <a href="/video">Video</a> -->
    <a href="./about">About</a>
    <a href="./contact">Contact</a>
  </nav>
</header>

<style>
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 2rem 0;
  }

  h1 {
    color: var(--primary-text-color);
    margin-bottom: 1.5rem;
  }

  nav {
    display: flex;
    gap: 100px;
    margin-top: 0.1rem;
    color: var(--secondary-text-color);
  }

  nav a {
    transition: 0.2s ease;
  }

  nav a:hover {
    color: var(--primary-text-color);
  }

  nav a:active {
    color: var(--primary-text-color);
  }
</style>
