---
// CSS imports
import '../styles/global.css';
import '../styles/reset.css';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const { pageTitle } = Astro.props;
---

<html lang="en">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta
    http-equiv="Content-Security-Policy"
    content="default-src 'self'; img-src 'self' data:; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com; font-src 'self' https://cdnjs.cloudflare.com; script-src 'self' 'unsafe-inline'; frame-src https://www.youtube.com;"
  />
  <link rel="icon" href="/favicon.ico" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <title>Finn Isler Photography + {pageTitle}</title>

  <body>
    <div class="page-wrapper">
      <Header />
      <hr />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
