---
import "../styles/global.css";
import "../styles/variables.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta
    http-equiv="Content-Security-Policy"
    content="default-src 'self'; img-src 'self' data:; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline';"
  />
  <link rel="icon" href="/favicon.ico" />
  <title>Finn Isler Photography + {pageTitle}</title>
  <link
    rel="stylesheet"
    href={import.meta.env.BASE_URL + "styles/gallery.css"}
  />
  <script src={import.meta.env.BASE_URL + "js/gallery.js"} defer></script>

  <body>
    <div class="page-wrapper">
      <Header />
      <main><slot /></main>

      <Footer />
    </div>
  </body>
</html>
<style is:global>
  html,
  body {
    height: 100%;
    margin: 0;
  }

  .page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
  }
</style>
